[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Bell task
[access "refs/*"]
	owner = group user/Ray Bechard (raybechard)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Ray Bechard (raybechard)
	label-Verified = -1..+1 group user/Ray Bechard (raybechard)
	push = group user/Ray Bechard (raybechard)
	read = group user/Ray Bechard (raybechard)
	rebase = group user/Ray Bechard (raybechard)
	removeReviewer = group user/Ray Bechard (raybechard)
	submit = group user/Ray Bechard (raybechard)
[access "refs/heads/*"]
	create = group user/Ray Bechard (raybechard)
	push = +force group user/Ray Bechard (raybechard)
	pushMerge = group user/Ray Bechard (raybechard)
	read = group user/Ray Bechard (raybechard)
[access "refs/tags/*"]
	push = group user/Ray Bechard (raybechard)
	push = +force group user/Ray Bechard (raybechard)
